<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
    </div>
</div>


<div class='row'>
    <h2>Create Document > Risks</h2>
</div>

<!-- List of projects/docs -->
<div class='row'>
    <div class="col-md-8">
        <form role="form">
            <div class="form-group">
                <label for="projectGoals">Describe your project risks?</label>
                <textarea type="text" id="projectGoals" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="goals">Describe your plans to resolve the risks if they happen?</label>
                <textarea type="text" id="goals" class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group col-md-offset-9 col-md-4" >
                <a class="btn btn-large btn-info" href="/projects/<%=project_id%>/doctype/<%=doctypeid%>/create_goals">Previous</a>
                <a class="btn btn-large btn-info" href="/projects/<%=project_id%>/doctype/<%=doctypeid%>/create_costs">Next</a>
            </div>
        </form>
    </div>
</div>