<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Project: GamePlan MVP</h3>
    </div>
    <div class="panel-body">
        To develop a minimal viable product of GamePlans Project Management Tool
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mission Statement</h3>
    </div>
    <div class="panel-body">
        The scope of GamePlans MVP is to present a sample of GamePlans Project Management Tool as well as market validation
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Objectives</h3>
    </div>


    <!-- Table -->
    <table class="table">
        <tr>
            <td>Objective 1</td>
            <td>Develop and MVP</td>
        </tr>
        <tr>
            <td>Objective 2</td>
            <td>Do market validation</td>
        </tr>
        <tr>
            <td>Objective 2</td>
            <td>Gauge company viability</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Goals</h3></div>

    <!-- Table -->
    <table class="table">
        <th>
            <td><b>Goals</b></td>
            <td><b>Goal Assignment</b></td>
        </th>
        <tr>
            <td>Goal 1</td>
            <td>Finalize the GamePlans MVP</td>
            <td>Rick Rein</td>
        </tr>
        <tr>
            <td>Goal 2</td>
            <td>Survey market to validate problem and solution</td>
            <td>Tatiana Cordoba</td>
        </tr>
        <tr>
            <td>Goal 3</td>
            <td>Recruit company founders</td>
            <td>Oscar Oliveros</td>
        </tr>
    </table>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Project Timeline</h3></div>
    <!-- Table -->
    <table class="table">
        <th>
            <td><b>Project Start Dates</b></td>
            <td><b>Project Check-in Dates</b></td>
            <td><b>Project End Date and Deadlines</b></td>
        </th>
        <tr>
            <td>Entire Project:</td>
            <td>4/4/2014</td>
            <td>4/5/2014</td>
            <td>4/6/2014</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Risks</h3></div>


    <!-- Table -->
    <table class="table">
        <th>
            <td><b>Risk Description</b></td>
            <td><b>Risk Mitigation</b></td>
        </th>
        <tr>
            <td>Risk 1</td>
            <td>Scope of MVP too large</td>
            <td>Decrease scope of MVP</td>
        </tr>
        <tr>
            <td>Risk 2</td>
            <td>Lack of market validation data</td>
            <td>Tap into personal networks and leverage social media</td>
        </tr>
        <tr>
            <td>Risk 3</td>
            <td>No interest in the vision</td>
            <td>Passionately convey the mission and meet everyone before the pitches</td>
        </tr>
    </table>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Costs</h3></div>


    <!-- Table -->
    <table class="table">
        <tr>
            <td>Project Costs</td>
            <td>$65.00</td>
        </tr>
        <tr>
            <td>Contingency</td>
            <td>$25.00</td>
        </tr>
        <tr>
            <td>Total Cost</td>
            <td>$90.00</td>
        </tr>
    </table>
</div>
