<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Project: GamePlan (Painless Knowledge Extraction tool)</h3>
    </div>
    <div class="panel-body">
        Project Mission Statement
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Scope Statement</h3>
    </div>
    <div class="panel-body">
        Scope Statement
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Goal/Objectives</h3>
    </div>


    <!-- Table -->
    <table class="table">
        <tr>
            <td>Smart Goal</td>
            <td>Enter Goal</td>
        </tr>
        <tr>
            <td>Smart Goal2</td>
            <td>Enter Goal2</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Ownership</h3></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td>Owner</td>
            <td>Enter Goal</td>
        </tr>
        <tr>
            <td>Project Manager</td>
            <td>Enter Goal2</td>
        </tr>
    </table>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Stakeholders</h3></div>


    <!-- Table -->
    <table class="table">
        <tr>
            <td>Stakeholder1</td>
            <td>Mr. Alex</td>
            <td>Supervisor</td>
        </tr>
        <tr>
            <td>Stakeholder1</td>
            <td>Mr. Alex</td>
            <td>Supervisor</td>
        </tr>
        <tr>
            <td>Stakeholder1</td>
            <td>Mr. Alex</td>
            <td>Supervisor</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Project Task Categories</h3></div>


    <!-- Table -->
    <table class="table">
        <tr>
            <td>Category</td>
            <td>Mr. Alex</td>
        </tr>
        <tr>
            <td>Stakeholder1</td>
            <td>Mr. Alex</td>
        </tr>
    </table>
</div>
