<!-- Project header -->
<div class='row'>
  <h1>Projects</h1>
</div>


<!-- List of projects/docs -->
<div class='row'>
  <div class='col-md-6'>
    <div class='col-md-offset-11 col-md-1'>
      <a href='#'>Add</a>
    </div>
    <table class ='table table-condensed table-striped'>
    <!-- projects.each do |project| -->
      <tr>
        <td><a href='/project/1'>Demo Project</a></td>
      <tr>
        <td><a href='/project/2'>Demo Project2</a></td>
      <tr>
        <td><a href='/project/3'>Game Plans</a></td>
    </table>
  </div>
</div>

