<!-- Project header -->
<div class="demopage_header">
    <div class='row'>
        <h1>Projects <img src="/images/button_plus_green.png" id="new_project" class="add_icon"/></h1>
    </div>

</div>

<!-- List of projects/docs -->
<div class="section">
    <div class="row">
<% current_user.projects.each do |project| %>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="/images/projects_folder.png" alt="...">
                <div class="caption">
                  <%= "<a href='/project/#{project.id}'>#{project.name}</a>" %>
                    <p></p>
                </div>
            </div>
        </div>
<% end %>
    </div>
</div>




<div class="modal fade" id="create_project_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create a Project</h4>
            </div>

            <div class="modal-body">
              <form action='/projects/add' method='POST'>
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input type="text" name='projectName' class="form-control" id="projectName" placeholder="Project Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="save_document_changes" class="btn btn-primary">Create Project</button>
            </div>
            </form>
        </div>
    </div>
</div>

