<div class='jumbotron'>
  <h1>GamePlans</h1>
  <p>
    It does some stuff that you should know about so I'm going to talk about it here
  </p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
